<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925146684342-r9ou8kl7t45odjimild6ecsfj4c4vred.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925146684342-r9ou8kl7t45odjimild6ecsfj4c4vred</string>
	<key>API_KEY</key>
	<string>AIzaSyBU21Tm6Z5WdZERb8mMX-RVkJk4lMYyqBY</string>
	<key>GCM_SENDER_ID</key>
	<string>925146684342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agile.casa.app</string>
	<key>PROJECT_ID</key>
	<string>casa-11631</string>
	<key>STORAGE_BUCKET</key>
	<string>casa-11631.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925146684342:ios:f03a9a4638d8b63f2fff17</string>
	<key>DATABASE_URL</key>
	<string>https://casa-11631.firebaseio.com</string>
</dict>
</plist>